{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1 class="display-5 fw-bold">About</h1>
  
<video width="320" height="240" controls>
    <source src="{% static 'videos/15513083_1920_1080_50fps.mp4' %}"  type="video/mp4"> 
    Your browser does not support the video tag.
  </video>
  
  {{data}}
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum quae qui sapiente vero consequatur odit velit
    minima corporis, et fugiat a, unde consectetur. Facilis a tempore necessitatibus voluptatum pariatur?</p>

{% endblock %}