{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="https://images.pexels.com/photos/7710399/pexels-photo-7710399.jpeg" 
class="object-fit-cover w-full mx-auto my-3 rounded-4 d-flex justify-content-center"
alt="" size="400"   height="400px"  srcset="">
<h1 class="display-5 mt-4">Welcome to Project <span class="bg-warning pe-2 fw-bold">WILD</span></h1>
<p class="lead fw-light mt-2 text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem cum blanditiis quasi perferendis magni dolore culpa
    soluta nulla, nam molestias, ut aperiam voluptas ratione sunt. Voluptatum alias odit labore id!</p>


    <!-- animals start -->
    

 <div class="d-flex">
    {% for animal in data %} 

    <div class="card" style="width: 18rem;">
        <img src="{{animal.image}}" class="card-img-top object-fit-cover" alt="..." width="200px" height="200px">
        <div class="card-body">
            <div class="fs-4 fw-bold">{{animal.name}}</div>
            <h6 class="fs-6 text-secondary">{{animal.specie}}</h6>
          <p class="card-text lead fs-6 text-truncate" style="max-width: 200px;">{{animal.bio}}</p>
        </div>
      </div>

 {% endfor %}
 </div>
     <!-- animals end -->



<img src="{% static 'svgs/undraw_friends_xscy.svg' %}" alt="" height="200" srcset="">
    {% endblock %}